img {
    display:block;
    width: 300px;
    border: 7px solid green;
    border-radius: 10px;
    margin:auto;
}

body {
    background: greenyellow;
}

h1 {
    font-family: Cursive;
    font-size: 50px;
    text-align: center;
}

.dropdown button {
    background-color: rgb(90, 236, 90);
    color:rgb(4, 5, 4); 
    padding-block: 10px 10px;
    border: 3px solid;
    border-radius: 3px;
    cursor:pointer;
}
.dropdown a{
    display:black;
    color:black;
    text-decoration: none;
    padding: 10px 10px;
}
.dropdown .content{
    display:none;
    background-color: beige;
    position:absolute;
    min-width:75px;
    box-shadow: 2px 2px 5px black;
}
.dropdown:hover .content{
    display:block;
}
.dropdown:hover button{
    background-color:rgb(73, 150, 25);
}